# 파이썬 가상환경 (가장 중요!)
venv/
.venv/
env/
.env/

# IDE 설정 파일 (사용자 PC마다 다름)
.vscode/
.idea/
__pycache__/
*.pyc

# OS 시스템 파일
.DS_Store
Thumbs.db

# 모델 가중치 (Ultralytics가 알아서 다운로드해주므로 굳이 올릴 필요 없음)
*.pt
*.pth
*.onnx

# 영상 파일
*.mp4
videos/